<section >
    <h2 class="text-center">Join Foodiez</h2>
    <div class="input-wrap">
        <label class="small center-block text-center">First Name</label>
        <input style="text-transform: capitalize;" type="text" name="firstName" id="firstName"/>
        <!-- <div *ngIf="f.submitted && !firstName.valid" class="help-block text-center">First Name is required</div> -->
    </div>

    <div class="input-wrap" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
        <label for="lastName" class="small center-block text-center">Last Name</label>
        <input style="text-transform: capitalize;" type="text" name="lastName" id="lastName"/>
        <!-- <div *ngIf="f.submitted && !lastName.valid" class="help-block text-center">Last Name is required</div>
             [(ngModel)]="model.lastName" #lastName="ngModel" (blur)="model.lastName = model.lastName.trim()" required -->
    </div>

    <div class="input-wrap" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
        <label for="lastName" class="small center-block text-center">User Type</label>
        <select name="userTypeSelect">
            <option [ngValue]="null" disabled>Select User Type</option>
            <option [(ngModel)]="model.lastName" *ngFor="let userType of userTypeOption" [ngValue]="userType.id">{{userType.name}}</option>
        </select>
    </div>

    <div class="input-wrap" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
        <label for="lastName" class="small center-block text-center">Token Amount to Stake</label>
        <input style="text-transform: capitalize;" type="text" name="lastName" id="lastName" [(ngModel)]="model.lastName" 
            (blur)="model.lastName = model.lastName.trim()" required />
        <!-- <div *ngIf="f.submitted && !lastName.valid" class="help-block text-center">Last Name is required</div> -->
    </div>

    

    <button type="submit" [disabled]="loading" class="btn btn-primary next-button">Register 
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </button>

</section>