.flexContain{
    display: flex;
    overflow: auto;
}
.leftDiv{
    width: 50%;     
}
.rightDiv{
    flex-grow: 1; 
}

/*******user View and Restaurant************************/
.restaurantMenuBtn {
    width: 167px
}
.restaurantMenuUserViewBtn{
    width: 100%;
    border: 0px;
    background: white;
    padding: 0px;
}
.addMenuTitle{
    text-align: center;
}
.addMenuInput{
    width: 100%;
    height: 98%;
}
.showMenuTitle{
    font-weight: bolder;
    text-align: center;
}
.userViewMenuItemsTextAlign{
    text-align: -webkit-center;
}
.navDivAlign{
    text-align: -webkit-center;
}
.navContain{
    margin-left: auto;
    margin-right: auto;
}
.navButtons{
    display: inline-block;
    width: 30%;
}
.navButtonBGColor{
    border-color: #00695c;
}
.navButtonBGColorSelected{
    background-color: #90caf9;
    border: 2px solid;
}

.restNameBox, .menuItemBox{
    border: 1px solid;
    border-color: #f9eded;
}

.restarantOrderAlign, .orderConfirmationTitleAlign{
    text-align: center;
}

.restarantOrderMenuTitle{
    text-decoration: underline;
}

.restaurantOrderPrice{
    text-align: right;
}

/****************Order View****************************************/
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.panelShow{
    display: block !important;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.userOrderTitleStatus,.userOrderPrice{
    text-align: right;
}