<html>

<head>
  <meta charset="UTF-8">
  <title>Simple Storage Dapp</title>
  <!-- <link rel="icon" type="image/png" href="./images/name.svg"> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/css/mdb.min.css" rel="stylesheet">
</head>

<body>
  <main class="container-fluid">
    <header>
      <h1 class="text-center">Foodiez</h1>
    </header>
    <!-- Part 1 Setting up Basic Actions and Status-->
    <section [hidden]="! ethService.ethereumConnected">
      <div class="row justify-content-md-center" id="header">
        <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 col-12">
          <p class="info-text alert alert-primary">Network Id: <span>{{ethService.networkId}}</span></p>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 col-12">
          <p class="info-text alert alert-primary">Chain Id: <span>{{ethService.chainId}}</span></p>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
          <p class="info-text alert alert-primary">Account Address: <span>{{ethService.activeAccount}}</span></p>
        </div>
      </div>
      <ng-container *ngIf="userViewOn ">
        <div class="row justify-content-md-center">
          <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 col-12">
            <p class="info-text alert alert-primary">User Name: <span> {{userViewObj.name}}</span></p>
          </div>
          <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 col-12">
            <p class="info-text alert alert-primary">User Type:<span> {{userViewObj.type}}</span></p>
          </div>
          <ng-container *ngIf="userTypeCustomer">
            <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 col-12">
              <p class="info-text alert alert-primary">User Token:<span> {{userViewObj.token}}</span></p>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 col-12">
              <p class="info-text alert alert-primary">Active Order:<span> {{userViewObj.activeOrders}} </span></p>
            </div>
          </ng-container>
          <ng-container *ngIf="!userTypeCustomer">
            <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 col-12">
              <p class="info-text alert alert-primary">Rating:<span> {{userViewObj.rating}}</span></p>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 col-12">
              <p class="info-text alert alert-primary">Token:<span> {{userViewObj.token}}</span></p>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="restViewOn ">
        <div class="row justify-content-md-center">
          <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 col-12">
            <p class="info-text alert alert-primary">Restaurant Id: <span> {{restViewObj.id}}</span></p>
          </div>
          <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 col-12">
            <p class="info-text alert alert-primary">Items:<span> {{restViewObj.items}}</span></p>
          </div>
          <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 col-12">
            <p class="info-text alert alert-primary">Rating:<span> {{restViewObj.rating}}</span></p>
          </div>
          <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 col-12">
            <p class="info-text alert alert-primary">Token:<span> {{restViewObj.token}}</span></p>
          </div>
        </div>
      </ng-container>
    </section>
 
    <section>
      <div class="row justify-content-md-center d-flex" id="mainBody">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="card">
            <div class="card-body navDivAlign">
              <ul class="navContain nav-tabs" *ngIf="ethService.ethereumConnected">
                <li class="navButtons">
                  <button [ngClass]="{navButtonBGColorSelected: userViewObj.naviRestaurant == true }" 
                    class="btn navButtonBGColor btn-lg btn-block mb-3" (click)="changeUserView(true)">
                  Restaurants 
                </button>
                </li>
                <li class="navButtons">
                <button [ngClass]="{navButtonBGColorSelected: userViewObj.naviRestaurant == false }" 
                  class="btn navButtonBGColor btn-lg btn-block mb-3" (click)="changeUserView(false)">
                  Orders 
                </button>
                </li>
              </ul>

              <ng-container *ngIf="!ethService.ethereumConnected">
                <ng-container>
                  <h4 class="card-title" *ngIf="!ethService.ethereumConnected">Connect to Network</h4>
                  <button class="btn btn-primary btn-lg btn-block mb-3" [hidden]="ethService.ethereumConnected"
                    (click)="connectToMetaMask()">Connect </button>
                </ng-container>
                <ng-container *ngIf="ethService.ethereumConnected && !userViewOn && !restViewOn">
                  <h2 class="text-center">Join Foodiez</h2>
                  <button class="btn btn-primary btn-lg btn-block mb-3" (click)="registerAddress('user')">Register as User
                  </button>
                  <button class="btn btn-primary btn-lg btn-block mb-3" (click)="registerAddress('restaurant')">Register
                    as Restaurant </button>
                </ng-container>
                <ng-container *ngIf="registerAsUser && !userViewOn && !restViewOn">
                  <div class="input-wrap row justify-content-md-center d-flex">
                    <label class="small center-block text-center">Full Name</label>
                    <input style="text-transform: capitalize;" type="text" name="firstName" [(ngModel)]="userRegisterObj.fname" />
                    <!-- <div *ngIf="f.submitted && !firstName.valid" class="help-block text-center">First Name is required</div> -->
                  </div>
                  <div class="input-wrap row justify-content-md-center d-flex">
                    <label for="lastName" class="small center-block text-center">User Id</label>
                    <input type="text" name="lastName" [(ngModel)]="userRegisterObj.userId" />
                    <!-- <div *ngIf="f.submitted && !lastName.valid" class="help-block text-center">Last Name is required</div>
                                                                                               [(ngModel)]="model.lastName" #lastName="ngModel" (blur)="model.lastName = model.lastName.trim()" required -->
                  </div>
                  <div class="input-wrap row justify-content-md-center d-flex">
                    <label for="lastName" class="small center-block text-center">User Type</label>
                    <select name="userTypeSelect" [(ngModel)]="userRegisterObj.type">
                      <option disabled>Select User Type</option>
                      <option *ngFor="let userType of userTypeOption" [value]="userType.id">{{userType.name}}</option>
                    </select>
                  </div>
                  <div class="input-wrap row justify-content-md-center d-flex">
                    <label for="lastName" class="small center-block text-center">Token Amount to Stake</label>
                    <input style="text-transform: capitalize;" type="text" name="token" [(ngModel)]="userRegisterObj.token" />
                    <!-- <div *ngIf="f.submitted && !lastName.valid" class="help-block text-center">Last Name is required</div> [ngValue]="userType.id" -->
                  </div>
                  <div class="input-wrap row justify-content-md-center d-flex">
                    <button type="submit" [disabled]="loading" (click)="registerUser()"
                      class="btn btn-primary next-button row justify-content-md-center d-flex">Register <img *ngIf="loading"
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </button>
                  </div>
                </ng-container>
                <ng-container *ngIf="registerAsRestaurant && !userViewOn && !restViewOn">
                  <div class="input-wrap row justify-content-md-center d-flex">
                    <label class="small center-block text-center">Restaurant Name</label>
                    <input style="text-transform: capitalize;" type="text" name="firstName" [(ngModel)]="restaurantRegisterObj.name" />
                    <!-- <div *ngIf="f.submitted && !firstName.valid" class="help-block text-center">First Name is required</div> -->
                  </div>
                  <div class="input-wrap row justify-content-md-center d-flex">
                    <label for="lastName" class="small center-block text-center">Restaurant Id</label>
                    <input type="text" name="lastName" [(ngModel)]="restaurantRegisterObj.id" />
                    <!-- <div *ngIf="f.submitted && !lastName.valid" class="help-block text-center">Last Name is required</div>
                                                                                                             [(ngModel)]="model.lastName" #lastName="ngModel" (blur)="model.lastName = model.lastName.trim()" required -->
                  </div>
                  <div class="input-wrap row justify-content-md-center d-flex">
                    <label for="lastName" class="small center-block text-center">Token Amount to Stake</label>
                    <input type="text" name="token" [(ngModel)]="restaurantRegisterObj.token" />
                    <!-- <div *ngIf="f.submitted && !lastName.valid" class="help-block text-center">Last Name is required</div> [ngValue]="userType.id" -->
                  </div>
                  <div class="input-wrap row justify-content-md-center d-flex">
                    <button type="submit" [disabled]="loading" (click)="registerRestaurant()"
                      class="btn btn-primary next-button row justify-content-md-center d-flex">Register <img *ngIf="loading"
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </button>
                  </div>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="userViewOn">
                <ng-container *ngIf="userRestsView && !orderConfirmationScreen">
                  <h2 class="text-center">Available Restaurant</h2>
                  <div class="container flexContain restNameBox">
                    <ng-container *ngFor="let rest of restaurantArray">
                      <div class="leftDiv col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                        <button type="submit" [disabled]="loading" (click)="getRestaurantMenu(rest.address, rest.items)"
                          class="restaurantMenuBtn btn btn-primary next-button row justify-content-md-center d-flex">{{rest.id}}
                        </button>
                      </div>
                    </ng-container>
                  </div>
                  <ng-container *ngIf="menuItemArray.length > 0 && !orderConfirmationScreen">
                    <div class="restNameBox">
                      <div class="container flexContain">
                        <div class="leftDiv col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 flexContain">
                          <div class="col-xl-1 showMenuTitle"></div>
                          <div class="col-xl-3 showMenuTitle ">Name</div>
                          <div></div>
                          <div class="col-xl-4 showMenuTitle">Type</div>
                          <div></div>
                          <div class="col-xl-3 showMenuTitle">Price</div>
                        </div>
                      </div>
                      <ng-container *ngFor="let item of menuItemArray; let i = index">
                        <div class="container flexContain">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 flexContain">
                            <div class="col-xl-1">
                              <input type="checkbox" [checked]="item.isSelected == true" (click)="addItemForOrder(i)">
                            </div>
                            <button class="flexContain restaurantMenuUserViewBtn" (click)="addItemForOrder(i)">
                              <div class="col-xl-3 userViewMenuItemsTextAlign">{{item.itemName}}</div>
                              <div class="col-xl-2"></div>
                              <div class="col-xl-2 userViewMenuItemsTextAlign">{{item.itemType}}</div>
                              <div class="col-xl-1"></div>
                              <div class="col-xl-3 userViewMenuItemsTextAlign">{{item.itemPrice}}</div>
                            </button>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container>
                        <div class="container flexContain">
                          <button type="submit" [disabled]="loading" (click)="getOrderTotal()"
                            class="restaurantMenuBtn btn btn-primary next-button row justify-content-md-center d-flex">Continue
                          </button>
                        </div>
                      </ng-container>
                    </div>
                
                  </ng-container>
                </ng-container>
                <!----Order Confirmation Screen----------------------->
                <ng-container *ngIf="userViewOn && orderConfirmationScreen">
                  <div class="container">
                
                    <div class="col-xl-12 orderConfirmationTitleAlign">
                      <button class="btn btn-secondary" (click)="navBackToMenuScreen()">
                        Return to Menu
                      </button>
                      <h2>Order Confirmation</h2>
                    </div>
                    <div class="col-xl-12 flexContain restarantOrderAlign">
                      <div class="col-xl-4 restarantOrderMenuTitle">
                        Menu Items
                      </div>
                      <div class="col-xl-8 restarantOrderMenuTitle restaurantOrderPrice">
                        Price
                      </div>
                    </div>
                
                    <ng-container *ngFor="let item of menuItemArray; let i = index">
                      <ng-container *ngIf="item.isSelected">
                        <div class="col-xl-12 flexContain restarantOrderAlign">
                          <div class="col-xl-4">
                            {{item.itemName}}
                          </div>
                          <div class="col-xl-8 restaurantOrderPrice">
                            {{item.itemPrice}}
                          </div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                
                  <ng-container>
                    <div class="col-xl-12 flexContain">
                      <div class="col-xl-5"></div>
                      <div class="col-xl-5">Total</div>
                      <div class="col-xl-2 restaurantOrderPrice">{{orderTotals.total}}</div>
                    </div>
                    <div class="col-xl-12 flexContain">
                      <div class="col-xl-5"></div>
                      <div class="col-xl-5">Service Fee</div>
                      <div class="col-xl-2 restaurantOrderPrice">{{orderTotals.serviceFee}}</div>
                    </div>
                    <div class="col-xl-12 flexContain">
                      <div class="col-xl-5"></div>
                      <div class="col-xl-5">Network Fee</div>
                      <div class="col-xl-2 restaurantOrderPrice">{{orderTotals.networkFee}}</div>
                    </div>
                    <div class="col-xl-12 flexContain">
                      <div class="col-xl-5"></div>
                      <div class="col-xl-5">Final Price </div>
                      <div class="col-xl-2 restaurantOrderPrice">{{orderTotals.final}}</div>
                    </div>
                    <div class="col-xl-12 flexContain">
                      <button class="btn btn-primary" (click)="placeOrder()">
                        Place Order
                      </button>
                    </div>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="userOrdersView">

                </ng-container>
              </ng-container>
              
              <ng-container *ngIf="restViewOn">
                <div class="container flexContain">
                  <div class="leftDiv col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <button type="submit" [disabled]="loading" (click)="addMenuItemsView()"
                      class="restaurantMenuBtn btn btn-primary next-button row justify-content-md-center d-flex">Add
                      Menu Item <img *ngIf="loading"
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </button>
                    <button type="submit" [disabled]="restViewObj.items == 0" (click)="getRestaurantMenuView()"
                      class=" restaurantMenuBtn btn btn-primary next-button row justify-content-md-center d-flex">Get
                      Menu <img *ngIf="loading"
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </button>
                  </div>
                  <div class=" rightDiv col-xl-9 col-lg-3 col-md-12 col-sm-12 col-12">
                    <ng-container *ngIf="addingMenuItem">
                      <div class="addMenuTitle">
                        <h4 class="card-title">Add Menu Item</h4>
                      </div>
                      <div class="input-wrap row justify-content-md-center d-flex">
                        <div class="col-xl-3">
                          <label class="center-block text-center">Item Name: </label>
                        </div>
                        <div class="col-xl-6">
                          <input class="addMenuInput" style="text-transform: capitalize;" type="text" name="firstName"
                            [(ngModel)]="menuItemRegisterObj.name" />
                        </div>
                      </div>
                      <div class="input-wrap row justify-content-md-center d-flex">
                        <div class="col-xl-3">
                          <label class="center-block text-center">Item Type: </label>
                        </div>
                        <div class="col-xl-6">
                          <select class="addMenuInput" name="itemTypeSelect" [(ngModel)]="menuItemRegisterObj.type">
                            <option selected disabled>Select Item Type</option>
                            <option *ngFor="let itemType of menuItemType" [value]="itemType.id">{{itemType.name}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="input-wrap row justify-content-md-center d-flex">
                        <div class="col-xl-3">
                          <label class="center-block text-center">Item Price: </label>
                        </div>
                        <div class="col-xl-6">
                          <input class="addMenuInput" style="text-transform: capitalize;" type="text" name="firstName"
                            [(ngModel)]="menuItemRegisterObj.price" />
                        </div>
                      </div>
                      <div class="input-wrap row justify-content-md-center d-flex">
                        <button type="submit" [disabled]="loading" (click)="createRestaurantMenuItem()"
                          class="btn btn-primary next-button row justify-content-md-center d-flex">Register <img
                            *ngIf="loading"
                            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        </button>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="showingMenu">
                      <div class="addMenuTitle">
                        <h4 class="card-title">Menu Item</h4>
                      </div>
                      <div class="col-xl-12 col-lg-3 col-md-12 col-sm-12 col-12 flexContain">
                        <div class="col-xl-4 showMenuTitle">Name</div>
                        <div class="col-xl-4 showMenuTitle">Type</div>
                        <div class="col-xl-4 showMenuTitle">Price</div>
                      </div>
                      <ng-container *ngFor="let item of menuItemArray">
                        <div class="col-xl-12 col-lg-3 col-md-12 col-sm-12 col-12 flexContain">
                          <div class="col-xl-4 userViewMenuItemsTextAlign">{{item.itemName}}</div>
                          <div class="col-xl-4 userViewMenuItemsTextAlign">{{item.itemType}}</div>
                          <div class="col-xl-4 userViewMenuItemsTextAlign">{{item.itemPrice}}</div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://unpkg.com/web3@latest/dist/web3.min.js"></script>
</body>

</html>